#header .opener-icons:hover{background:#e74c3c;}
#header .header-top a:hover{color:#e74c3c;}
#header .head-socialnetworks a:hover{color:#e74c3c;}
#nav a:hover{color:#e74c3c;}
#nav li:hover > a, #nav li.active > a{color:#e74c3c;}
#nav .nav-opener:hover{background:#e74c3c;border-color:#e74c3c;}
.side-widget h3:after{background:#e74c3c;}
.side-widget a:hover{color:#e74c3c;}
.side-widget .btn{background:#e74c3c;border-color:#e74c3c;}
.btn-f-info{background:#e74c3c;border-color:#e74c3c;}
.btn-more:hover{background:#e74c3c;border-color:#e74c3c;}
.page-banner .heading:before{background:#e74c3c;}
.page-banner .breadcrumbs a:hover{color:#e74c3c;}
.page-banner.grey .breadcrumbs a:hover{color:#e74c3c;}
.f-iconbox .icon{color:#e74c3c;border-color:#e74c3c;}
.f-iconbox:hover .icon{background:#e74c3c;}
.progress-holder .text, #work-filter li a:hover{background:#f47a6d;}
.isotop-controls li.active a{background:#e74c3c;}
.isotop-controls a:hover{background:#e74c3c;}
.portfolio-block .over .plus{color:#e74c3c;}
.portfolio-block .title:after{background:#e74c3c;}
.portfolio-block .link{background:#e74c3c;color:#fff;opacity:.7;}
.process-section .icon .num{background:#e74c3c;}
.progress-holder .progress-bar-outer{background:#e74c3c;}
.core-section .list li:after{color:#e74c3c;}
.contact-address h3 .fa{color:#e74c3c;}
.contact-address a:hover{color:#e74c3c;}
#style-changer .list-style .btn2{background:#e74c3c;border-color:#e74c3c;}
#style-changer .list-style .btn2.add:hover{background:#e74c3c;border-color:#e74c3c;}
#style-changer .changer-opener{color:#e74c3c;}
#gotoTop:hover, .footer-social a:hover{background:#e74c3c;}
.contact-form2 .btn-f-info{color:#e74c3c;}
#header.style15 .opener-icons:hover{color:#fff;}
.port-single ul .fa{color:#e74c3c;}
#header.fixed-position #nav .nav-top > li:hover > a, #header.fixed-position #nav .nav-top > li.hover > a, #header.fixed-position #nav .nav-top > li.active > a{color:#e74c3c;}
#header.fixed-position #nav .nav-top > li > a:hover{color:#e74c3c;}
.dark .heading h2{color:#fff;}
.heading:after{background:#e74c3c;}
.error-section h1{color:#e74c3c;}
.facts-section .num::after{background:#e74c3c;}
.devisInfos a span, .devisInfosContact a span{color:#e74c3c;}
.list-tags a{color:#fff;background:#e74c3c;}
.list-tags a:hover{color:#fff !important;background:#f47a6d;}
.price-section .price:after, .price-section.style2 .box .heading:after{background:#e74c3c;}
.price-section .btn, .price-section.style2 .box.active .btn, .price-section.style2 .box:hover .btn{background:#e74c3c;}
.col-icon{color:#e74c3c;}